.timeline{
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before{
    position: absolute;
    left: 50%;
    top: 0;
    content: '';
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    z-index: 5;
}